<?xml version="1.0" ?>
 
 <!--
   By default encoders are assigned the type
     ch.qos.logback.classic.encoder.PatternLayoutEncoder
   see http://logback.qos.ch/manual/layouts.html
 -->
<configuration>

  <property name="LOG_DIR" value="/mnt/sdcard" />

  <appender name="LOGCAT" class="ch.qos.logback.classic.android.LogcatAppender">
    <checkLoggable>false</checkLoggable>
    <tagEncoder>
       <pattern>%logger{22}</pattern>
    </tagEncoder>
    <encoder>
       <pattern>[%method] %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="STATS" class="ch.qos.logback.core.FileAppender">
    <file>${LOG_DIR}/lab5.log</file>
    <append>true</append>
    <encoder>
      <!--  output: elapsed time , logger name  and message -->
      <pattern>%.-1level %10relative %-20logger{35} - %msg%n</pattern>
      <outputPatternAsHeader>true</outputPatternAsHeader>
    </encoder>
  </appender>


  <logger name="class" level="TRACE"/>
 
  <root level="INFO">
    <appender-ref ref="LOGCAT" />
  </root>

</configuration>
