<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="700" android:versionName="7.0.0-SNAPSHOT" package="edu.vanderbilt.cs282.feisele.assignment6">

    <uses-sdk android:minSdkVersion="11" android:targetSdkVersion="15"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <supports-screens android:largeScreens="true" android:normalScreens="true" android:smallScreens="false"/>

    <application android:allowBackup="true" android:icon="@drawable/ic_launcher" android:label="@string/app_name" android:theme="@style/AppTheme">
        <activity android:label="@string/title_activity" android:name=".ui.DownloadActivity" android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <provider android:authorities="edu.vanderbilt.cs282.feisele.assignment6.provider" android:exported="false" android:name=".provider.DownloadContentProvider" android:process=":my_process"/>

        <service android:exported="false" android:name=".service.DownloadService" android:process=":my_process"/>
    </application>

</manifest>